.btn {
  width: 200px !important;
  height: 200px !important;
  outline: none !important;
}
.benifits {
  display: flex;
  flex-direction: row;
  background-color: #e7627d;
  opacity: 0.8;
  color: white;
}
.icons {
  font-size: 80px;
}
